@import url('../assets/fonts/proxima-nova/stylesheet.css');

//Fonts
$default-font: 'Proxima Nova Rg';
$default-font-th: 'Proxima Nova Th';
$default-font-lt: 'Proxima Nova Lt';
$default-font-bl: 'Proxima Nova Bl';

//Colors
$grey: #1e1e1e;
$light: #a7a7a7;
$red: rgb(184, 0, 0);
$wine: rgb(88, 0, 0);