.contact {
    text-align: left;
    padding: 64px 0;
    display: flex;
    align-items: center;
    @include mobile {
        height: auto;
        padding: 16px 0;
    }
    .card {
        padding: 12px;
        font-family: $default-font-lt;
        border-radius: 0;
        border: none;
        box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.1);
    }
    .title {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    .form-control {
        width: 256px;
        display: inline-block;
        margin-bottom: 8px;
        font-family: $default-font-lt;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $grey;
        height: 26px;
        &::placeholder {
            text-transform: uppercase;

        }
        @include mobile {
            width: auto;
        }
    }
    .checkbox {
        display: none;
    }
    .label-check {
        border: 2px solid #ccc;
        border-radius: 24px;
        padding: 8px 16px;
        color: #ccc;
        overflow: hidden;
        position: relative;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        font-weight: bold;
        z-index: 0;
        &::after {
            content: " ";
            background-color: $red;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transition: all .1s ease-in;
            -moz-transition: all .1s ease-in;
            -o-transition: all .1s ease-in;
            transition: all .1s ease-in;
            z-index: -1;
            -webkit-transform: scale(0);
            transform: scale(0);
            border-radius: 24px;
        }
    }
    .checkbox:checked + .label-check{
        border-color: $red;
        color: #fff;
        &::after {
            -webkit-animation: scale-in-center 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: scale-in-center 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

        }
    }
    .services {
        align-items: center;
        padding: 8px 0;
    }

    .button {
        color: $grey;
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid $grey;
        padding: 8px 32px;
        font-family: "Proxima Nova";
        position: relative;
        display: block;
        margin: 0 auto;
        width: 256px;
        text-align: center;
        font-weight: bold;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        z-index: 0;
        &::after {
            content: " ";
            width: 0%;
            height: 100%;
            background-color: $red;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .2s ease-in;
            z-index: -1;
        }
        &:hover {
            color: #fff;
            text-decoration: none;
            border-color: $red;
            &::after {
                width: 100%;
            }
        }
        @include mobile {
            width: 100%;
            background-color: transparent;
        }
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-6 17:1:46
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  